@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="col-xs-12 bg_error ma_t_15 " >
	<div class="col-xs-4 pos_abso_1">@ViewBag.StatusCode</div>
	<div class="col-xs-4 pos_abso_2">@ViewBag.Message</div>
</div>